<div id="app" class="container">

  <div class="animated fadeInDown text-center">
    <h1 class="display-4 mainTitle">
      CRNotify
    </h1>
  </div>

  <div class="animated fadeInDown text-center">
    <h3 class="dashboardTitle">Welcome, {{{user.name}}}</h3>
  </div>

  {{{errorMessages error_messages}}} {{{successMessages success_messages}}}
  <center>
    <small class="donateMessage text-center">Enjoying CRNotify? How about you support me and the project by <a href="/donate" target="_blank">donating? (You can even donate by simply clicking the link!)</a></small>
  </center>

  <div style="padding-top: 20px;">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">
        <span class="icon is-small"><i class="fa fa-info-circle"></i></span>
        <span>Info</span>
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/manage">
        <span class="icon is-small"><i class="fa fa-sliders"></i></span>
        <span>Manage</span>
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/settings">
        <span class="icon is-small"><i class="fa fa-cogs"></i></span>
        <span>Settings</span>
      </a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/logout">
        <span id="logout" class="icon is-small"><i class="fa fa-sign-out"></i></span>
        <span id="logout">Log Out</span>
      </a>
      </li>
    </ul>
  </div>

  <div class="container h-100" style="padding-top: 30px;">
    <table class="table align-items-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>{{{user.name}}}</td>
        </tr>
        <tr>
          <th scope="row">User ID</th>
          <td>{{{user.id}}}</td>
        </tr>
        <tr>
          <th scope="row">Google ID</th>
          <td>{{{user.googleID}}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>{{{user.email}}}</td>
        </tr>
        <tr>
          <th scope="row">Date Created</th>
          <td>{{{user.createdAt}}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
